
$background-color:rgb(23, 23, 23);
$button-color:#E4B564;
$block-first-color:#634F2C;
$block-second-color:#B4A385;
$block-third-color:#E4B564; 
$block-fourth-color:#635A4A;
$block-fifth-color:#B08C4D;
$block-sixth-color: #0E0E0E;
$block-seventh-color: #242424;
$block-eighth-color: #1F1F1F;
$block-ninth-color: #0A0909;


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background: $background-color;
}
.container{
    margin: 0 auto;
    max-width: 1465px;
}
.header{
    &__wrapp{
        margin-top: 37px;
        display: flex;
        justify-content: space-between;
    }
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $button-color;
    width: 218px;
    height: 50px;
    background-color: #000;
    &__link{
        color: $button-color;
        font-family: Ballet;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
    }
}


.external{
    padding: 89px 0 161px 0;
    &__wrapp{
        margin-top: 41px;
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(4, 200px);
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-align: center;
        font-family: Gilam;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        &-first{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            background: $block-first-color;
        }
        &-second{
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3;
            background: $block-second-color;
        }
        &-third{
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 3;
            background: $block-third-color;
        }
        &-fourth{
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 5;
            background:$block-fourth-color;
        }
        &-fifth{
            grid-column-start: 4;
            grid-column-end: 7;
            grid-row-start: 3;
            grid-row-end: 5;
            background: $block-first-color;
        }
    }
}

.title{
    color: #FFF;
    font-family: Gilam;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}
.subtitle{
    color: #FFF;
    font-family: Gilam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 43px;
}

.park{
    &__wrapp{
        margin-top: 138px;
        display: grid;
        gap: 29px;
        grid-template-columns: 467px 467px 467px ;
        grid-template-rows: 255px 29px 97px 129px 277px  ;
    }
    &__descr{
        margin-top: 44px;
        margin-left: 50px;
        color: #FFF;
        font-family: Gilam;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__item{
        &-first{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            background: $block-sixth-color;
        }
        &-second{
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 4;
            background: $block-seventh-color;
        }
        &-third{
            grid-column-start: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            background: $block-eighth-color;
        }
        &-fourth{
            grid-column-start: 1;
            grid-row-start: 3;
            grid-row-end: 6;
            background: $block-eighth-color;
        }
        &-fifth{
            grid-column-start: 2;
            grid-row-start: 4;
            grid-row-end: 6;
            background: $block-third-color;
        }
        &-sixth{
            grid-column-start: 3;
            grid-row-start: 5;
            grid-row-end: 6;
            background: $block-ninth-color;
        }
        &-seventh{
            grid-column-start: 3;
            grid-row-start: 2;
            grid-row-end: 5;
            background: $block-sixth-color;
        }
    }
}

.client{
    min-height: 1054px;
    padding: 170px 0px 240px 0px;
    &__wrapp{
        display: flex;
        justify-content: space-between;
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        margin-top: 72px;
    }
    &__img{
        margin-top: 10px;
    }
    &__descr{
        color: #FFF;
        text-align: center;
        font-family: Gilam;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
    }
    &__item{
        width: 486px;
        height: 391px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-first{
            background: $block-first-color;
        }
        &-second{
            background: rgba(232, 210, 171, 0.76);
            display: flex;
            flex-direction: column;
        }
        &-third{
            background: $block-third-color;
        }
        &-fourth{
            background: $block-fourth-color;
            display: flex;
            flex-direction: column;
        }
        &-fifth{
            background: $block-fifth-color;
        }
        &-sixth{
            background: $block-first-color;
        }
    }
}

@media screen and (max-width: 1024px) {
    .title{
        text-align: center;
    }
    .subtitle{
        font-style: 15px;
        padding: 20px;
        text-align: center;
    }
    .header{
        margin-top: 40px;
        padding-right:40px;
        width: 100%;
        &__logo{
            margin-left: 20px;
        }
    }
    .external{
      &__wrapp{
        padding: 20px;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(2, 80px 80px);
      }
    }

    .park{
        padding: 20px;
        &__wrapp{
            grid-template-columns: 290px 290px 290px ;
            grid-template-rows: 85px 55px 59px 108px 95px ;
        }
        &__descr{
            display: flex;
            align-items: center;
        }
    }
    .client{
        padding: 20px;
        &__item{
            width: 400px;
            height: 400px;
        }
        &__wrapper{
            display: flex;
            justify-content: space-around;
            gap: 10px;
        }
    }
}

@media screen and (max-width: 820px) {
  
    .title{
        font-size: 30px;
    }
    .subtitle{
        font-size: 18px;
    }
    .external{
        &__wrapp{
          padding: 20px;
          grid-template-columns: repeat(2, 80px);
          grid-template-rows: repeat(2, 90px 90px);
        }
        &__item{
            padding: 10px;
        }
      }
      .park{
        padding: 20px;
        &__wrapp{
            margin-top: 20px;
            grid-template-columns: 220px 220px 220px ;
            grid-template-rows: 90px 60px 70px 108px 90px ;
        }
        &__descr{
            margin-left: 10px;
            margin-top: 20px;
            text-align: center;
        }
    }
    .client{
        &__wrapp{
            display: block;
        }

        &__wrapper{
            display: flex;
            justify-content: space-around;
            gap: 10px;
            margin-top: 30px;
        }
    }
    .button{
        &-client{
           display: block;
           margin: 0 auto;
           margin-top: 30px;
        }
    }
}

@media screen and (max-width: 540px) {
    .header{
        &__wrapp{
           display: block;
        }
        &__logo{
            display:flex;
            justify-content: center;
        }
    }
    .title{
        font-size: 23px;
        text-align: center;
    }
    .subtitle{
        font-size: 15px;
    }
    .button{
        &-header{
            display: block;
            margin: 0px auto;
            margin-top: 25px;
        }
    }
    .external{
        &__wrapp{
            display: block;
        }
        &__item{
           height: 100px;
           margin-top: 15px;
        }
      }
    
    .park{
        &__wrapp{
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           
        }
        &__item{
            display: block;
            margin: 0 auto;
            width: 350px;
            height: 150px;
        }
        &__descr{
            display: block;
            margin: 0 auto;
            margin-top: 50px;
            font-size: 20px;
        }
    }
    .client{
        &__item{
            height: 250px;
        }
        &__descr{
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 390px) {
    .park{
        &__item{
            width: 200px;
        }
    }
    .client{
        &__item{
            height: 200px;
        }
    }
}